In [1]:
# fonksiyonlar

In [2]:
def my_function():
    print("hello")

In [3]:
my_function

In [4]:
my_function()

hello

In [5]:
# input

In [7]:
def name_fonk(name):
    print("hello")
    print(name)

In [9]:
name_fonk("aybey")

hello
aybey

In [10]:
name_fonk() # değişkeni vermessek çalışmaz

TypeError: name_fonk() missing 1 required positional argument: 'name'

In [11]:
def ages(age="15"): # default deyer atama
    print(age)

In [12]:
ages()

15

In [13]:
def toplam(num1,num2,num3):
    print(num1+num2+num3)

In [14]:
toplam(10,20,30)

60

In [15]:
def toplam(num1="14",num2="14",num3="17"):
    print(num1+num2+num3)

In [18]:
toplam(15,25,7)

47

In [19]:
# return

In [20]:
def sumation(n1,n2,n3):
    print(n1*n2*n3)

In [21]:
x = sumation(12,2,3)

72

In [22]:
x

In [23]:
type(x)

NoneType

In [27]:
def return_toplam(n1,n2,n3): #return sonucu bir değişkene atamak için kulanılabilir
    resault = n1*n2*n3
    print(resault)
    return resault # fonksiyon için yapacağimiz seyleri return dan önce yazmalıyız

In [28]:
return_toplam(1,2,3)

6

6

In [29]:
x = return_toplam(13,24,6)

1872

In [30]:
x

1872

In [31]:
def if_control(s):
    if s[0] == "a":
        print("a")

In [32]:
if_control("hello")

In [33]:
if_control("abi")

a

In [34]:
# args , kwargs

In [35]:
def toplayıcı(*args):
    return sum(args)

In [36]:
toplayıcı(17,27,37,88)

169

In [37]:
def args_fonksiyon(*args):
    print(args)

In [38]:
args_fonksiyon(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [39]:
# kwargs

In [40]:
def kwargs_ex(**kwargs):
    print(kwargs)

In [42]:
kwargs_ex(hello=1,merhaba=2,naber=3)

{'hello': 1, 'merhaba': 2, 'naber': 3}

In [43]:
def divideNumber(number):
    return number / 2

In [44]:
divideNumber(12)

6.0

In [45]:
my_list1 = [10,20,30,36,88,48]

In [46]:
myResaultlist = []

In [50]:
for i in my_list1:
    myResaultlist.append(divideNumber(i))

In [51]:
myResaultlist

[5.0, 10.0, 15.0, 18.0, 44.0, 24.0]

In [52]:
# map

In [53]:
list(map(divideNumber,my_list1))

[5.0, 10.0, 15.0, 18.0, 44.0, 24.0]

In [54]:
# filter

In [55]:
list(filter(divideNumber,my_list1))

[10, 20, 30, 36, 88, 48]

In [56]:
# lambda

In [57]:
my_list2 = [10,23,4,44,5,55]

In [58]:
list(map(lambda num :num*2,my_list2)) # tek satırda lamda fonksiyonu ile fonksiyon tanımlama

[20, 46, 8, 88, 10, 110]

In [65]:
a_list = [10,23,4,5] 
for i in a_list:
    lambda num : num *2
    print(num)

NameError: name 'num' is not defined

In [66]:
# scope local --> enclosing--> global --> build in

In [67]:
x = 10 
def function(x):
    print(x)
    x *2 
    print(x)
    return x

In [68]:
function(3)

3
3

3

In [69]:
x

10

In [70]:
a = 10
def test(a):
    print(a)
    
    
    def test1(a):
        print(a)

In [71]:
a

10

In [72]:
test(4)

4

In [73]:
test1(2)

NameError: name 'test1' is not defined

In [1]:
#classes OOP
class Person():
    #property özelikler
   # name = "" bunları illede tanımlamak gerekmiyor pyton __init__ in altındaki self.name ,self.age yi tanımladığimizda anlar
    #age = 0
    #gender = ""
    # initalizer method
    # method , initializer / sınıfların içinde tanımlanan fonksiyonlara method denir
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
    #method
    def test(self):
        print("test")
person = Person("ahmet",34,"male")

In [2]:
person.name

'ahmet'